body{background-color: honeydew;}

h1{color: darkgreen;
  text-align: center;
  margin: 10pt;
  font-size: 20pt;
  font-family: calibri;
  text-decoration: underline;}

h2{color: dimgray;
  text-align: center;
  margin: 10pt;
  font-size: 10pt;
  font-family: comic sans ms;}
